
<body id="body" onload="clear();">

                        <h3 class="title">What is A.B.S</h3>
                        <p>
                            Small and Medium corporates and individuals can't always find the right logistics suitable
                            service provider and this is
                            where we come in. Since 2001 as being one of the few logistics service providers, as a 100%
                            Egyptian Company, we've come
                            up with the best formulas to serve all kinds of clients as per their portfolio and ensuring
                            their business will always
                            grow.
                        </p>
                        <a class="main-btn" href="about.html">Learn More</a>
                    </div>
                </div>
               
            </div>
        </div>
    </section>

    <!--====== ABOUT US PART ENDS ======-->
    <!--====== SERVICE PART START ======-->

    <section class="service-area pb-100" id="service">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-9">
                    <div class="section-title text-center">
                        <img src="assets/images/hero-line.png" alt="">
                        <h3 class="title" style="color: rgb(255, 171, 74);
                        ">
                            Our Services
                        </h3>
                        <p>What We Offer</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="service-item mt-30 animated wow fadeInUp" data-wow-duration="1000ms"
                         data-wow-delay="0ms">
                        <div class="icon">
                            <i class="fa fa-plane" aria-hidden="true" style="font-size: 250%;"></i>
                        </div>
                        <h3 class="title">Express courier</h3>
                        <p>ABS Courier & Freight Systems provided dominstic services and international delivary</p>
                       
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="service-item mt-30 animated wow fadeInUp" data-wow-duration="1000ms"
                         data-wow-delay="300ms">
                        <div class="icon">
                            <i class="fa fa-truck" aria-hidden="true" style="font-size: 250%;"></i>
                        </div>
                        <h3 class="title">Logistics</h3>
                        <p>
                            ABS Courier & Freight Systems logistics industry is all about providing fast turnaround
                        </p>
                       
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="service-item mt-30 animated wow fadeInUp" data-wow-duration="1000ms"
                         data-wow-delay="600ms">
                        <div class="icon">
                            <i class="fas fa-users-cog" style="font-size: 250%;" aria-hidden="true"></i>
                        </div>
                        <h3 class="title">Special Services</h3>
                        <p>
                            Choose the one that best fit your shipping needs
                        </p>
                        <br>
                      
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="service-item mt-30 animated wow fadeInUp" data-wow-duration="1000ms"
                         data-wow-delay="0ms">
                        <div class="icon">
                            <i class="fa fa-ship" aria-hidden="true" style="font-size: 250%;"></i>
                        </div>
                        <h3 class="title">Freight</h3>
                        <p>
                            ABS Courier & Freight Systems provided multi types of freight like Air freight , Ocean freiht
                            , land Freight and Dry cargo.
                        </p>
                       
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="service-item mt-30 animated wow fadeInUp" data-wow-duration="1000ms"
                         data-wow-delay="300ms">
                        <div class="icon">
                            <i class="fa fa-television" aria-hidden="true" style="font-size: 250%;"></i>
                        </div>
                        <h3 class="title">Packing Services</h3>
                        <p>
                            Sometimes packing can be more stressful than the move itself, We offer a variety of add on
                            packing services.
                        </p>
                     
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="service-item mt-30 animated wow fadeInUp" data-wow-duration="1000ms"
                         data-wow-delay="600ms">
                        <div class="icon">
                            <i class="fa fa-phone" aria-hidden="true" style="font-size: 250%;"></i>
                        </div>
                        <h3 class="title">Call Center</h3>
                        <p> manages various outsourcing agreements with key government & commercial accounts.</p>
                        <br>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
  

    <!--====== ARTICAL PART ENDS ======-->
    <!-- Chat Bot Block -->

  



    <!--====== FOOTER PART ENDS ======-->
    <!--====== BACK TO TOP START ======-->
    <!--====== BACK TO TOP ENDS ======-->
    <!--====== jquery js ======-->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/popper.min.js"></script>

    <!--====== appear js ======-->
    <script src="assets/js/jquery.appear.min.js"></script>

    <!--====== Slick js ======-->
    <script src="assets/js/slick.min.js"></script>

    <!--====== wow js ======-->
    <script src="assets/js/wow.js"></script>

    <!--====== Isotope js ======-->
    <script src="assets/js/isotope.pkgd.min.js"></script>

    <!--====== Images Loaded js ======-->
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>

    <!--====== Main js ======-->
    <script src="assets/js/main.js"></script>
    <!-- fa fa font -->
    <script src="https://kit.fontawesome.com/0e6b5b4447.js" crossorigin="anonymous"></script>
    <!-- Backend js -->
    <script src="assets/js/backend.js"></script>
    <!-- chatbot js -->
    <script src="assets/static2/script/responses.js"></script>
    <script src="assets/static2/script/chat.js"></script>

    <!-- maps api -->
    <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJlBdxmAmkPCngfGf3PKeuVNm_rqcWmm4&callback=initMap"></script> -->



    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>


    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
</body>

